

body {
    background-color: black;
}

.panel {
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    padding: 5% 5%;
}

.header {
    margin-top: 0;
    text-align: center;
    color: rgb(255, 47, 47);
    text-shadow: 0 0 20px red;
    font-size: xx-large;
}

.header1 {
    color: rgb(0, 40, 250);
    font-family: Monospace;
    text-shadow: 0 0 20px cyan;
    margin: 0px 0px;
    margin-bottom: 5px;
    animation-name: text_color;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes text_color{
    from {
        color: rgb(250, 180, 0);
        text-shadow: 0 0 20px cyan;
    }
    to {
        color: rgb(0, 180, 255);
        text-shadow: 0 0 10px cyan;
    }
}

.textbox {
    border-radius: 5px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    font-size: x-large;
    background-color: rgb(100, 100, 100);
    outline-width: 0px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-weight: bold;
}

.textbox:focus {
    color: rgb(183, 255, 255);
}

.textbox:hover{
    background-color: rgb(150, 150, 150);
}

.send {
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    width: 50%;
    font-family: monospace;
    border-radius: 5px;
    background-color: rgb(101, 255, 101);
}


